name: smartbridge
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - pip:
      - numpy
      - pandas
      - scikit-learn
      - matplotlib
      - scipy
      - seaborn
      - tensorflow
      - flask
      - pillow
